* {
	margin: 0;
	padding: 0;
	font-family: Nunito, sans-serif;
	transition: all 0.02s ease-in-out;
	user-select: none;
	box-sizing: border-box;
}


html, body {
	background-color: #dadeee;
	width: 100%;
	min-height: 100%;
}

body {
	box-shadow: inset 0 0 15px 10px rgba(255, 255, 255, 0.25);
	min-height: 100vh;
	padding: 3vw 4vw;
	overflow-y: scroll;
}

@media screen and (max-width: 600px) {
	body {
		padding: 10vw 6vw;
	}
}

::-webkit-scrollbar {
	width: 0.25em;
}

::-webkit-scrollbar-track {
	background-color: #e2e5f2;
}

::-webkit-scrollbar-thumb {
	background-color: darkgrey;
}

::-webkit-scrollbar-thumb:hover {
	background-color: grey;
}


.header {
	display: flex;
	justify-content: space-between;
}

.header .recents {
	display: flex;
	align-items: center;
	color: #a9aec6;
	font-size: 1.25rem;
	font-weight: 600;
}

.header .recents svg {
	width: 20px;
	height: 20px;
	stroke-width: 2.75px;
	stroke-linecap: round;
	stroke: #a9aec6;
	fill: none;

	margin-right: 1rem;
	margin-bottom: 0.1rem;
}

.header .recents input {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	outline: none;
	color: #a9aec6;
	font-size: 1.25rem;
	font-weight: 600;
}

.header .recents input::placeholder {
	color: #a9aec6;
}

.header .order {
	display: flex;
	align-items: center;
	color: #a9aec6;
	font-size: 1.25rem;
	font-weight: 600;
}

.header .order .icon {
	width: 25px;
	height: 25px;
	stroke-width: 2.2px;
	stroke-linecap: round;
	stroke: #a9aec6;
	fill: none;
	cursor: pointer;
}

.header .order .icon:hover {
	stroke: #8e95b5;
}

.header .order .selected {
	stroke: #6b7088;
	cursor: default;
}

.header .order .selected:hover {
	stroke: #6b7088;
}

.header .order .icon:first-of-type {
	width: 27.5px;
	height: 27.5px;
	margin-right: 1rem;
}


.grid-type1 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr));
	grid-gap: 2rem;
	margin-top: 3rem;
	padding: 2rem;
}

.grid-type2 {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-top: 3rem;
	padding: 2rem;
}

.grid-type1 div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.grid-type2 div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1rem;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.grid > div:hover {
	transform: scale(1.09);
}

.grid-type2 div:first-child {
	margin-right: 1.5rem;
}

.grid div .icon-container {
	display: flex;
	justify-content: center;
	width: 75px;
	height: 75px;
	align-items: center;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background: #e4e6f0;
	box-shadow: 0px 0px 20px 15px #999ba76f;
	box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.25);
	transition: transform 0.2s ease-in-out;
}

.grid > div:hover > .icon-container {
	box-shadow: inset 0 0 15px 2px rgba(255, 255, 255, 0.5);
}

.grid div .text-container {
	display: flex;
	flex-direction: column;
	margin: 0.6rem 0 0 0;
	color: #16153c;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
}

.grid-type1 div .text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid div .text-container a {
	color: #a5a7bf;
	font-size: 0.85rem;
	font-weight: 500;
}

.grid div .icon-container .folder {
	width: 35px;
	height: 35px;
	stroke-width: 2.5px;
	stroke-linecap: round;
	stroke: #115ad1;
	opacity: 0.65;
	fill: #115ad150;
}

.grid div .icon-container .camera {
	width: 35px;
	height: 35px;
	stroke-width: 2.5px;
	stroke-linecap: round;
	stroke: #eeab30;
	opacity: 0.8;
	fill: #f6bc5074;
}

.grid div .icon-container .calendar {
	width: 35px;
	height: 35px;
	stroke-width: 2.5px;
	stroke-linecap: round;
	stroke: #bf32d2;
	opacity: 0.8;
	fill: #bf32d250;
}

.grid div .icon-container .clock {
	width: 35px;
	height: 35px;
	stroke-width: 2.5px;
	stroke-linecap: round;
	stroke: #9b89f9;
	opacity: 0.8;
	fill: #9b89f950;
}

.grid div .icon-container .map {
	width: 35px;
	height: 35px;
	stroke-width: 2.5px;
	stroke-linecap: round;
	stroke: #73d5a2;
	opacity: 0.8;
	fill: #73d5a250;
}

.grid div .icon-container .settings {
	width: 35px;
	height: 35px;
	stroke-width: 2.5px;
	stroke-linecap: round;
	stroke: #e55858;
	opacity: 0.8;
	fill: #e5585850;
}

.grid div .icon-container .trash {
	width: 35px;
	height: 35px;
	stroke-width: 2.5px;
	stroke-linecap: round;
	stroke: #4ab4a8;
	opacity: 0.8;
	fill: #4ab4a850;
}

.grid div .icon-container .terminal {
	width: 35px;
	height: 35px;
	stroke-width: 2.5px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #fe741f;
	opacity: 0.8;
	fill: none;
}